body{margin:0px;font-size:14px;font-family:sahel;direction:rtl;}
@font-face{
 font-family:'sahel';
 src: url('Sahel.ttf') format('woff');
 }
/*-----------------*/
header{background:#f7f7f7;padding:12px 30px 12px 30px;border-bottom:1px solid #bfc2c5;text-align:left;font-size:18px;}
header a{color:#00077b;font-size:22px;font-weight:bold;text-decoration:none;}
/*-----------------*/
main{max-width:850px;padding:12px;margin:15px auto 15px auto;direction:rtl;}
t{margin:0px;display: block;text-align:justify;}
m{font-family:monospace;color:#d6336c;font-weight:bold;direction:ltr;unicode-bidi:isolate;display:inline;}
.link{color:#000;text-decoration:none;}
.link:visited{color:#000;}
/*-----------------*/
table{width:100%;border-collapse:collapse;}
table,td{border:1px solid black;padding:10px;}
th{padding:5px;}
tr:nth-child(odd){background-color:white;}
tr:nth-child(even){background-color:#f7f7f7;}
@media (max-width: 600px) { td, th {font-size:10px;padding:5px;}}
/*-----------------*/
pre.code{overflow-x:auto;-webkit-overflow-scrolling: touch;background:#f7f7f7;padding:15px 20px 15px 5px;border:1px solid #bfc2c5;border-radius:5px 5px 5px 5px;font-size:13px;direction:ltr;text-align:left;}
.run{background:#f7f7f7;padding:10px;border:1px solid #bfc2c5;border-bottom:none;border-radius:5px 5px 0px 0px;font-size:13px;direction:ltr;text-align:left;}
/*-----------------*/
.alert{background:#cfe2ff;color:#084298;padding:15px;border:1px solid #92abcd;border-radius:5px;}
/*-----------------*/
.topic{background:#f7f7f7;padding:10px 15px 10px 15px;border-radius:5px;border:1px solid #bfc2c5;margin-bottom:10px;color:#00077b;}
.topic a{color:#000;text-decoration:none;}
/*-----------------*/
footer{background:#f7f7f7;color:#4e4e4e;padding:20px 30px 20px 30px;text-align:left;font-size:13px;border-top:1px solid #bfc2c5;} 
footer a{color:#4e4e4e;}
footer a:hover{text-decoration:none;}
/*-----------------*/
.np{color:#000;border:1px solid #bfc2c5;border-radius:5px;padding:5px 10px 5px 10px;text-decoration:none;}
.np img{vertical-align:middle;}